# Server
PORT=4000

# Environment: dev, stag, prod
APP_ENV=dev

# CORS origins separated by ';' (example: http://localhost:3000;https://app.example.com)
CORS_ALLOWED_ORIGINS=*

# Database
DB_USERNAME=user
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=sumni-finance
DB_PORT=5432
